<!-- Footer -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row-base row">
            <div class="col-base text-left-md col-md-4">
                <!--                         <a href="#" class="brand">
<img src="{{site.logo-small | relative_url }}" class="img-responsive" alt="" width="200">
</a> -->
            </div>
            <div class="text-center-md col-base col-md-4">
                Created by <a href="http://www.tiem.gr" target="_blank" class="author-link">TIEM adv</a> &
                <a href="https://www.twopix.gr" target="_blank" class="author-link">(2p) Twopix</a>
            </div>
            <div class="text-right-md col-base col-md-4">
                © Ioannidis Construction Services 2019. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>